.nav-link {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.3em;
    color: #C97064;
    background-color: #C97064;
    padding: 5px;
}

.nav-pills .nav-link.active {
    background-color: #C97064;
}

body {
    background-color: #BCA371;
    color: #F5F5F5;
    font-family: 'Questrial', sans-serif;
}

nav,
footer {
    text-align: center;
    margin: 20px;
}

a {
    color: #F5F5F5;
    text-decoration: none;
}

a:hover {
    color: #C97064
}

.block {
    text-align:center;
    font-size:1.3em;
    padding:10px;
}

h1 {
    font-size: 5em;
}
