h1 {
    text-align: center;
    color: red;
}

.col-md-6,
h2 {
    text-align: center;
}

.rounded {
    max-width: 40%;
    margin: .2em;

}

.card-img-overlay {
    background-color: #7474749a;
    color: black;
}

.home_about {
    padding: .8em;
}

.card-title {
    margin-top: 25%;
}

.secondary {
    margin-top: 1em;
}

.contact {
    background-color: white;
    text-align: center;

}

.card-title,
.card-text {
    background-color: #ffffff70;
}

.navbar,
.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8em;
}

.nav-link,
h1,
a,
.read-clips {
    color: #78290f;
}

.read:hover {
    color: black;
}

.nav-link:hover,
a:hover {
    color: white;
}

body {
    background-color: #818D92;
}

h1,
h5 {
    font-family: 'Cormorant Garamond', serif;
}

.card-text,
body {
    font-family: 'Open Sans', sans-serif;
}

.date {
    text-align: right;
}